course-card {
    cursor: pointer;
    filter: none;
    transition: filter 0.4s ease;
}

course-card:hover {
    filter: drop-shadow(10px 10px 20px rgb(62, 207, 233));
    transition: filter 0.4s ease;
}
